.carrot {
	
	color:white;
}

/*ABOUT US page */



html * {
	font-family: "avantgardelt-extralight", Courier, "Courier New", monospace;

}

.aboutus{
    width: 100%;
    height: 100%;
    background: url("../img/billboard2.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.aboutus .caption{
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.aboutus .caption p{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 35px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
    text-transform: uppercase;
    z-index: 8888;
}

.aboutus .caption .join{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 35px;
    padding: 20px;
    background: WhiteSmoke;
    margin-bottom: 2px;
    text-transform: uppercase;
    z-index: 8888;
}

/*PROGRAMMES PAGE*/


.billboard2{
    width: 100%;
    height: 2000px;
    background: url("https://i.imgur.com/s2H9x2C.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.billboard2 .caption{
    margin-left: 515px;
    margin-top: 220px;
}


.billboard2 .caption .join{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 35px;
    padding: 20px;
    background: WhiteSmoke;
    margin-bottom: 2px;
    text-transform: uppercase;
    z-index: 8888;
}


/*CONTACT PAGE */

.contact{
    width: 100%;
    height: 1300px;
    background: url("http://i.imgur.com/JB5Lztg.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.contact .caption{
    margin-left: 515px;
    margin-top: 220px;
}

.contact .caption p{
    display: inline-block;
    color: #000;
    font-family: "avantgardelt-extralight", arial;
    font-weight: lighter;
    font-size: 35px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 2px;
    text-transform: uppercase;
    z-index: 8888;
}


/*PARTNERS */

.log {

    
    display: inline;
}



